.List {
  width: 80%;
  max-width: 1080px;
  margin: 10px auto;
}

.List h2 {
  text-align: center;
}

input {
  padding: 6px;
  border-color: #d0d8df;
  border-width: 1px;
  border-style: solid;
  font-size: 17px;
}

.features {
  display: grid;
  grid-template-columns: 250px 150px;
  align-items: center;
  grid-gap: 20px;
  margin-bottom: 20px;
}
